<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <listeners>
        <listener class-name="utils.TestAllureListener"/>
    </listeners>
    <test name="MyTest">
        <classes>
            <class name="com.Tests.SingleTest.PostTests"/>
        </classes>
    </test>
</suite>